data/testvideo.mov
data/yksauto.mov

models/yolov8l.pt
models/yolov8m.pt
models/yolov8n.pt
models/yolov8s.pt
models/yolov8x.pt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

__pycache__

